/*
========================
Header area start
========================
*/

/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {	
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;    
    background:#fff;
    color:#282938;	
    cursor: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);   
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}
/* page loader */
/* PRELOADER CSS */
.page-loader{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #272727;
	z-index: 1000;
	.txt{
		color: #666;
		text-align: center;
		top: 40%;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		font-weight: bold;
		line-height: 1.5;
	}
}

/* SPINNER ANIMATION */
.spinner {
	position: relative;
	top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/* page loader end */

header {
    background-color:#040D12;
    padding:15px 0;
    width:100%;
}
.logo a {
    text-decoration:none;
    color:#CD1818;
    font-size:30px;
    font-weight:600;
}
.menu-item ul li {
    display:inline-block;
    margin:0 15px;
    overflow:hidden;
}
.menu-item ul li a {
    text-decoration:none;
    font-size:16px;
    color:#fff;
    font-weight:500;
    display:block;
    position: relative;
    transition:0.3s;
}
.menu-item {
    display:flex;
    align-items:center;
    gap:30px;
    justify-content:flex-end;
}
.menu-item ul li a::before {
    content:"";
    display:block;
    width:100%;
    height:2px;
    background-color:#CD1818;
    position:absolute;
    bottom:0;
    left:-100%;
}
.menu-item ul li a:hover::before {
    left:100%;
    transition:.8s;
}
.menu-item ul li a:hover {
    color:#CD1818;
}
.menu-item > a {
    width: 100%;
    max-width:170px;
    color: #CD1818;
    display: block;
    text-decoration: none;
    font-size:16px;
    text-align:center;
    font-weight:500;
    border-radius:5px;
    border: 2px solid #CD1818;
    padding: 12px 0;
    position: relative;
    overflow: hidden;
    z-index:55!important;
    transition:0.3s;
}
.menu-item > a::after {
    content:"";
    display:inline-block;
    width:100%;
    height:100%;
    background-color:#CD1818;
    position:absolute;
    top:0;
    left:0;
    transform:scale(0);
    z-index:-1;
    transition:0.4s;
}
.menu-item > a:hover::after {
    transform:scale(1);
    color:#fff;
}
.menu-item > a:hover {
    color:#fff;
}



/*
========================
hero area start
========================
*/
.hero-area {
    width:100%;
    min-height:600px;
    background:url(images/banner2.jpg);
    background-attachment: fixed;
    background-size:100% 100%;
    position: relative;
}
.hero-area::after {
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.8);
    top:0;
    z-index:5;
}
.hero-item {
    position: relative;
    z-index:999;
}
.hero-item h1{
    color:#CD1818;
    font-size:48px;
    font-weight:700;
    margin-bottom:10px;
}
.hero-item h6 {
    color:#fff;
    font-size:20px;
    font-weight:700;
    margin-bottom:10px;
}
.hero-item p {
    color:#fff;
    font-size:16px;
    font-weight:400;
    margin-bottom:40px;
}
.hero-item > a {
    width: 100%;
    max-width:200px;
    color: #fff;
    background-color:#CD1818;
    display: block;
    text-decoration: none;
    font-size:18px;
    text-align:center;
    font-weight:500;
    border-radius:5px;
    border: 2px solid #CD1818;
    padding: 12px 0;
    transition:0.3s;
}
.hero-item-wraper {
    width:100%;
    min-height:600px;
    display:flex;
    align-items:center;
}